output_reports/
.qwen/**/*
.vscode/**/*
.launch/**/*
**/__pycache__
**/__pycache__/**
**/test_*.py
**/debug_*
**/test_*.html
**/__debug_bin.exe*
**/cmd.exe
**/chrome_user_data/
**/chrome_user_data/*
**/.*
**/logs/**/*.log
*.md
garlic*.exe
garlic*.exe~
web/dist/
web/dist/**/*
main.exe
tools/webrowser/chrome*/**/*
tools/webrowser/.venv/
config.yaml
**/node_modules
**/node_modules/**/*
garlic
